body {
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(225, 255, 245);
    color : rgb(1, 54, 1);
}
p{
    text-align: justify;
}

.roundedimage{
    border-radius: 10px;
}

.formatheader {
    font-size: larger;
    font-weight: bold;
}